<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GUKERBA</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/icon-gukerba.png">
  </head>
  <body>
    <h1>Game Gunting Kertas Batu</h1>
    <div class="container">
        <div class="area-komputer">
            <div class="tittle-com"><h2>Computer</h2></div>
            <img src="../img/batu.png" class="img-computer">
        </div>
        <div class="info">DRAW</div>
        <div class="area-player">
            <ul>
                <li>
                    <img src="../img/gunting.png" class="gunting" id="gunting">
                </li>
                <li>
                    <img src="../img/kertas.png" class="kertas" id="kertas">
                </li>
                <li>
                    <img src="../img/batu.png" class="batu" id="batu">
                </li>
            </ul>
            <div class="tittle-player"><h2>Player</h2></div>
            
        </div>
    </div>

    <script src="../js/gukerba.js"></script>
  </body>
</html>
